* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.no-scroll{
    overflow: hidden;
}

@media (min-width: 1024px) {
    body {
        background-image: url(../images/background.svg);
        background-size: 550px;
        background-position: 100% 170px;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1280px) {
    body {
        background-size: 700px;
        background-position: 100% 100px
    }
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Container */
.container {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 900px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }
}


/* Visibilty classes */
@media (min-width: 990px) {
    .hide-for-desktop {
        display: none;
    }
}

@media (max-width: 989px) {
    .hide-for-mobile {
        display: none;
    }
}

/* Scroll to top toggle styling */
.to-top{
    display: none;
    position: fixed;
    right: 32px;
    bottom: 32px;
    pointer-events: none;
    transition: all 500ms;
    cursor: pointer;
}

.to-top-icon{
    padding: 5px;
    width: 40px;
    height: 40px;
    fill: #fff;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}


.to-top.is-active{
    display: block;
    pointer-events: auto;
}


/* Buttons */
.btn {
    display: inline-flex;
    max-width: 140px;
    max-height: 37px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    transition: 100ms linear;
}

.btn:hover {
    text-decoration: underline;
}

.btn--solid {
    display: inline-flex;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
}

.btn--solid img {
    width: 22px;
    padding-right: 5px;
}

.btn--solid:hover {
    text-decoration: none;
    background-color: #272626;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
}

.nav.container {
    padding-top: 45px;
}

@media (min-width: 990px){
    .nav{
        justify-content: space-between;
    }

    .nav.container {
        padding-top: 50px;
    }
}

.nav__links a {
    color: #121212;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
}

.nav__links a:hover {
    text-decoration: underline;
}

.nav__cta .btn--solid img {
    width: 22px;
    padding-right: 5px;
}

.hamburger {
    padding: 0;
    background-color: transparent;
    border: none;
}

.hamburger__top,
.hamburger__middle,
.hamburger__bottom {
    display: block;
    background-color: #323232;
    width: 27px;
    height: 3px;
    border-radius: 2px;
    transition: 300ms ease-in-out;
}

.hamburger__top,
.hamburger__middle {
    margin-bottom: 6px;
}

.is-toggled .hamburger__top {
    transform: translateY(9px) rotate(45deg);
}

.is-toggled .hamburger__middle {
    opacity: 0;
}

.is-toggled .hamburger__bottom {
    transform: translateY(-9px) rotate(-45deg);
}

.menu {
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 75vw;
    max-width: 350px;
    padding: 10px 10px;
    background-color: #363636;
    box-shadow: 0 1px 3px #000 0 2px 2px #000 0 0 2px #000;
    overflow: hidden;
}

.is-expanded.menu {
    display: block;
}

.menu__links{
    display: flex;
    justify-content: space-around;
}

.menu__links a {
    display: inline-block;
    font-size: 16px;
    color: #fff;
}

.hero{
    min-height: 50vh;
}

.hero.container {
    padding-top: 95px;
}

.hero__text {
    margin-bottom: 30px;
}

.hero__text .greeting {
    font-weight: 600;
}

.hero__text .header {
    margin-bottom: 8px;
    font-size: 40px;
    color: #121212;
}

.hero__text .sub-header {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
}

.hero__text .sub-header span{
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    font-weight: 500;
}

.hero__text .body {
    width: 85%;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

.hero .btn-group {
    display: flex;
}

@media (min-width: 900px) {
    .hero.container {
        padding-top: 150px;
    }

    .hero__text {
        max-width: 60%;
    }

    .hero__text .header {
        margin-bottom: 8px;
        font-size: 60px;
    }

    .hero__text .sub-header {
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 500;
    }

    .hero__text .body {
        font-size: 18px;
    }
}

.portfolio.container {
    padding-top: 150px;
}

@media (min-width: 1024px){
    .portfolio.container {
        padding-top: 200px;
    }
}

.portfolio .header {
    font-size: 27px;
    text-align: center;
}

.portfolio .holder {
    display: flex;
    margin-bottom: 30px;
}

.portfolio .holder .whitespace {
    flex-basis: 15%;
    height: auto;
    border-bottom: 1px solid #a9a9a9;
}

.portfolio .category-header {
    display: flex;
    flex-basis: 70%;
}

@media (min-width: 720px) {
    .portfolio .header {
        font-size: 35px;
    }

    .portfolio .holder .whitespace {
        flex-basis: 30%;
    }
    
    .portfolio .category-header {
        flex-basis: 40%;
    }
}

@media (min-width: 1280px) {
    .portfolio .holder .whitespace {
        flex-basis: 35%;
    }
    
    .portfolio .category-header {
        flex-basis: 30%;
    }
}

.portfolio .category-header .title {
    flex: 1;
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #6a6a6a;
    background-color: transparent;
    border: 1px solid #a9a9a9;
    cursor: pointer;
    transition: 100ms linear;
}

.portfolio .category-header .title:hover {
    background-color: #f0f0f0;
}

.portfolio .category-header .title:not(:last-of-type) {
    border-right: 0;
}

.portfolio .category-header .title.is-focused {
    padding-top: 5px;
    color: #000;
    border-width: 3px 1px 0;
    border-top-color: #68abe0;
    background-color: transparent;
}

.portfolio__content .body {
    display: none;
}

.portfolio__content .body.show {
    display: block;
}

.project-card-row {
    display: grid;
    row-gap: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.project-card {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    box-shadow: 0 4px 20px -1px rgba(36, 31, 33, .15);
}

.project-card-text {
    padding: 20px
}

.project-card-text .btn-group {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
}

.project-card-text .btn-group .btn--solid {
    display: inline-block;
    text-align: center;
}

.project-card-text .project-name {
    color: #000;
}

.project-card-text .stack,
.project-card-text .desc {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #363636;
}

.project-card-text .stack strong {
    color: #000;
    font-size: 17px;
}

@media (min-width: 720px) {
    .project-card{
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card-text {
        padding: 50px;
    }

    .project-card-text .stack {
        margin-bottom: 20px;
    }

    .project-card-text .desc {
        margin-bottom: 30px;
    }

    .project-card-text.reverse {
        order: 1;
    }

    .project-card-image.reverse{
        order: 2;
    }
}

@media (min-width: 990px) {
    .project-card-row{
        justify-content: space-between;
        grid-template-columns: repeat(3, 0.3fr);
    }

    .project-card{
        grid-template-columns: 1fr;
    }

    .project-card-text {
        padding: 20px;
    }

    .project-card-text .stack {
        margin-bottom: 10px;
    }

    .project-card-text .desc {
        margin-bottom: 20px;
    }

    .project-card-text.reverse {
        order: 2;
    }

    .project-card-image.reverse{
        order: 1;
    }
}